
/*==============*/
/* FONTS LOADER*/
/*==============*/
@font-face {
    font-family: 'cartogothic_stdregular';
    src: url('../fonts/cartogothicstd-book-webfont.woff2') format('woff2'),
         url('../fonts/cartogothicstd-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*==============*/
/*DOCUMENT STYLES*/
/*==============*/
body,html{
    font-family: 'cartogothic_stdregular';
    height: 100%;
}
a:hover,
a:focus {
    text-decoration: none;
}
.wrapper{
    min-height: 89%;
}
/*==============*/
/* STYLES NAVBAR*/
/*==============*/
.navbar-default{
    margin-bottom: 0px;
}
.navbar-principal{
    height: 70px;
    background: #ee322a;
    border:0px;
}
.bg-header{
    background: #ee322a;
}
.navbar{
    min-height: auto;
}
.navbar-nav>li>a{
    padding: 10px;
}
.navbar-default .navbar-nav>li>a.active {
    color: #000;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a.active2 {
    color: red;
    border-bottom:solid 2px red;
    font-weight: bold;
}
 .pull-right.right-nav{
        margin-top: 18px;
    }
    .btn-nav {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 0px;
        min-width: 130px;
        margin-left: 24px;
    }
/*==============*/
/* STYLES BUTTONS*/
/*==============*/
.btn-primary{
    background: #ee322a;
    border:0px;
    border-radius: 0px;
    color: #fff;
    min-width: 130px;
    border: 1px solid #ee322a;
}
.btn-primary:hover{
    background: #a90c05;
}
.btn.btn-secondary {
    border: 1px solid white;
    border-radius: 0px;
    background: #fff;
    color: red;
    min-width: 130px;
}
.btn-consultar{
    margin-left: -4px;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #ee322a;
    border-color: #ee322a;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #ee322a;
    border-color: #ee322a;
}
.boxMenu .navbar-santander button {
    min-height: 40px;
    border-radius: 0px;
}
button.btn.btn-normal {
    background: #fff;
}
.btn.focus, .btn:focus, .btn:hover,.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: none;
}
/*==============*/
/* STYLES NAVBAR LEVELS*/
/*==============*/
.navbar {
    border-radius:0;
}
#submenu {
    background-color: #e7e7e7;
}
.main-menu {
    overflow: hidden;
    margin-top: 30px;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 25px;
}
    .main-menu button {
        margin-right: 10px;
        margin-left: 25px;
    }

/*==============*/
/* STYLES FOOTER*/
/*==============*/
footer {
    border: 1px solid red;
}
/*==============*/
/* VIEW HOMEPAGE*/
/*==============*/
.boxHome {
    margin: 0 auto;
    text-align: center;
}
    .title {
        margin-top: 70px;
    }
    .boxHome .consultas-btn,
    .boxHome .abm-btn
     {
        display: inline-block;
        width: 300px;
        background-color: white;
        text-align: center;
        margin: 70px 80px 0px 80px;
        max-width: 235px;
        border: 1px solid;
    }
        .divider {
            border-top: 1px solid #000;
            min-height: 50px;
        }
            .divider p {
                max-width: 70%;
                text-align: center;
                display: block;
                margin: 0 auto;
                margin-top: 10px;
                color: #000;
            }
        .boxHome div a{
            padding-top: 30px;
            display: block;
            color: #ee322a;
        }
        .boxHome div a:hover .divider {
            background: #ee322a;
            color: #FFF;
        }

        .boxHome div a:hover .divider p {
            color: #fff;
        }
        .title-option {
            margin-top: 16px;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            margin-bottom: 24px;
        }
/*==============*/
/* VIEW SEARCH*/
/*==============*/
.boxSearch {
    text-align: center;
    display: block;
    margin: 50px 0px 0px 0px;
}
    .boxSearch h2 {
        font-size: 26px;
        margin-bottom: 40px;
    }
    .boxSearch label {
        font-size: 16px;
        margin-right: 3px;
        vertical-align: sub;
    }
    .boxSearch input[type="text"] {
        width: 430px;
        border-radius: 0px;
    }
/*==================*/
/* VIEW Tenencia Valuada*/
/*==================*/
.boxRentabilidad {
   display: block;
}
    .boxRentabilidad form input {
        border-radius: 0px;
    }
.boxButtons {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
}
    .boxButtons .btn-default {
        border-radius: 0px;
        margin-top: 10px;
        margin-left: 10px;
    }
.boxClient, .boxNup {
    margin-top: 15px;
    display: inline-block;
}
.boxNup{
    margin-left: 20px;
}
    .boxClient p, .boxNup p {
        display: inline-block;
        text-transform: uppercase;
        font-size: 18px;
        color: #ee322a;
    }

    .boxClient span, .boxNup span {
        display: inline-block;
        color: #000;
        font-size: 20px;
        margin-left: 15px;
    }
.boxMenu .navbar-santander{
    background: #fff;
    border:0px;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
}
.boxInversion {
    overflow: hidden;
    background: #eeecec;
    padding: 25px;
}
    .boxInternal{
        border: 1px solid #bebebe;
        padding: 30px;
        background: #fff;
        font-size: 17px;
    }
    .line-red {
        display: block;
        border-bottom: 1px solid red;
        max-width: 25px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .line-full {
        display: block;
        border-bottom: 2px solid red;
        max-width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
}
.moneda p {
    display: inline-block;
    margin-right: 45px;
    margin-left: 15px;
    font-size: 18px;
    text-align: center;
}
.header-tenencia {
    margin-top: 30px;
    padding: 25px;
    background: #fff;
    border:1px solid #bebebe ;
}
.header-tenencia h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.header-titles {
    display: inline-block;
}

.moneda {
    float: right;
    margin-top: 20px;
}

p.pesos span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
p.dolares span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
p.title-tables-accordion {
    display: inline-block;
    color: red;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

/*==================*/
/* VIEW CARTERA TOTAL*/
/*==================*/
.boxCartera {
    margin-top: 60px;
}
    .boxIntCartera div {
        border: 1px solid #e4e4e4;
    }
        .boxIntCartera .pesos{
            margin-right: 10px;
            margin-top: 20px;
            display: inline-block;
        }
        .boxIntCartera .dolares{
            margin-left: 10px;
            margin-top: 20px;
            display: inline-block;
        }   
/*==================*/
/* VIEW CARTERA TOTAL*/
/*==================*/
.table-responsive .table thead th {
    background: #e0dddd;
}

.table-responsive .table tbody tr td,
.table-responsive .table tbody tr th,
.table-responsive .table thead tr th,
.table-responsive .table thead tr td,
.table-responsive .table tfoot tr th,
.table-responsive .table tfoot tr td {
    border: none;
}
.table-responsive .table tfoot tr td{
    background: #e0dddd;
}
.table-responsive .table tbody tr td{
    border-bottom:1px;
}
.pesos, .dolares{
    display: block;
}
.table-responsive .table tbody tr td {
    border-bottom: 1px solid;
    border-bottom-style: inset;
}
.table p{
    margin-bottom: 0px;
}
/*=========================*/
/* TABLA FONDOS CONSOLIDADOS*/
/* COMUNES DE INVERSION    */
/*========================*/
.header-table {
    background: #ededed;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 35px;
}
.table-responsive .table-consolidado tbody tr td {
    border: 1px solid #000;
}

.no-border-top-bottom{
    border-top:0px !important;
    border-bottom: 0px !important;
}
.no-border{
    border:0px !important;
}
.table{
    font-size: 13px;
}


/*=========================*/
/* PRODUCTO CUENTA         */
/*                         */
/*========================*/

.bg-tenencia{
    background: #eeecec;
}
.header-titles p {
    font-size: 16px;
}
/*=========================*/
/* TABLA CTA TITULO         */
/*                         */
/*========================*/
.pd-top{
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.pd-top p {
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.header-table-top {
    background: #ececec;
    padding-bottom: 4px;
}
.header-table-td{
    background: #ececec;
}

/* New tables */
.bg-tables{
    background: #eeecec
}
.header-newtable {
    background: #fff;
    margin: 15px;
    padding: 10px;
    border:1px solid #bebebe;
}

.header-newtable p {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.title-headers {
    width: 49%;
    display: inline-block;
    text-align: left;
}

.fecha-headers {
    width: 49%;
    display: inline-block;
}
.fecha-headers p{
    font-weight: normal;
}

.table-tenencia-valuada {
    background: #fff;
    border: 1px solid #bebebe !important;
    font-size: 15px;
}
.table-tenencia-valuada thead th{
    border:0px !important;
    padding-left: 17px !important;
    padding-top: 20px !important;
    background: #fff !important;
}
.table-tenencia-valuada>tbody>tr>td{
    border:0px;
    padding-bottom: 0px;
    padding-left: 18px;
    padding-right:18px;
}
.table-tenencia-valuada tr:last-child td {
    padding-bottom: 10px;
}
.button-accordion p:nth-child(1){
    color: red;
    font-size: 15px;
}
.button-accordion p:nth-child(1),
.button-accordion p:nth-child(2){
    display: inline-block;
    width: 49%;
    margin-bottom: 0px;
    font-weight: normal;
}
.button-accordion p:nth-child(2){
    text-align: right;
}
.header-newtable-accordion {
    background: #fff;
    margin: 15px;
    border: 1px solid #bebebe;
    clear: both;
}
.header-newtable-accordion a{
    padding:15px;
    display: block;
}
.table.table-responsive.table-tenencia-valuada tr td {
    border: 0px;
}
.thead-custom {
    border-bottom: 1px solid;
}
.tfoot-custom{
    border-top: 1px solid;
}
.tfoot-custom tr td{
      background: #fff !important;
}
.button-accordion.black p{
    color: #000;
}